extends ./base

block append head
  - var current = "lab";
  title #{sitename} - #{current}
  meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

  
block pageheader
  main(title="covertitle")
    h1= page_lab.titulo

  aside(title="coverimg")
    img(src=`${baseUrl + page_lab.plastica[2]}` alt='Cover image')

  header(title="sintesis")
    h2= page_lab.subtitulo

block content
  section.grid
    article.grid-12.grid-md-6
      .slider--container
        .slider1.card
          h3 Todo ya és, aquí <mark>obvio!</mark>
          ul 
            each d1 in page_lab.vision1
              li= `${d1}`

        .slider1.card
          h3 Me doy <mark> cuenta</mark> de mí
          ul 
            each d2 in page_lab.vision2
              li= `${d2}`

        .slider1.card
          h3 Percibo en <mark> 0,1,2,3 y 4</mark>
          ul 
            each d3 in page_lab.vision3
              li= `${d3}`

        .slider1.card
          h3 Llego a mí
          ul 
            each d4 in page_lab.vision4
              li= `${d4}`

        button.prev(onclick='plusDivs(-1, 0)') &#x276E;
        button.next(onclick='plusDivs(1, 0)') &#x276F;

    article.grid-12.grid-md-6
      .slider--container
        each imgUrl in page_lab.percepcion
          .slider2.bgImg(style='background-image: url('+`${baseUrl + imgUrl}`+');')
        button.prev(onclick='plusDivs(-1, 1)') &#x276E;
        button.next(onclick=`plusDivs(1, 1)`) &#x276F;

    article.grid-12.grid-md-6
      .card
        h3 <mark>Yo cuento</mark> en mi transitar.
        ul 
          each d5 in page_lab.vision5
            li= `${d5}`

    article.grid-12.grid-md-6
      .slider--container
        .slider3.card
          h3 Abro mi <mark>verdad</mark>
          ul 
            each p in page_lab.proceso1
              li= `${p}`
        .slider3.card
          h3 Una obra; <mark>un proceso</mark>.
          ul 
            each p2 in page_lab.proceso2
              li= `${p2}`
        button.prev(onclick='plusDivs(-1, 2)') &#x276E;
        button.next(onclick='plusDivs(1, 2)') &#x276F;

    article.grid-12.grid-md-6
      .slider--container
        each imgUrl in page_lab.plastica
          .slider4.bgImg(style='background-image: url('+`${baseUrl + imgUrl}`+');')
        button.prev(onclick='plusDivs(-1, 3)') &#x276E;
        button.next(onclick='plusDivs(1, 3)') &#x276F;
    
    article.grid-12.grid-md-6
      video#video1(poster='../assets/img/bg1.jpg' controls='false' loop='true')
        source(src='../assets/img/introweb.mp4' type='video/mp4')
        | Your browser does not support the video tag.  

    article.grid-12.grid-md-6
      .slider--container
        .slider5.card
          h3 Alumno eterno <mark>nuevo</mark> 
          ul 
            li Dándome cuenta de mí.
            li Afinando <mark>claridad</mark>
            li Honor y gratitud por lo andado hasta aquí
            li Dejo de girar y avanzo
        .slider5.card
          h3 Me planto en mi  <mark>verdad</mark>
          p Cuento todo el rato para darme cuenta y expandirlo. La información ocurriendo completamente. Somos respuesta.
        .slider5.card
          h3 Soy <mark>el ser</mark> siendo
          p Observo un territorio holístico de creación en el que cristaliza todo lo que soy en esta antena humana que no para de resonar y vibrar.
        .slider5.card
          h3 Me <mark>doy cuenta</mark> ...del fractal que lo vincula todo y ahora paso a paso integro coherencia en mi caminar.
        button.prev(onclick='plusDivs(-1, 4)') &#x276E;
        button.next(onclick='plusDivs(1, 4)') &#x276F;
    
    article.grid-12.grid-md-6
      .slider--container
        each imgUrl in page_lab.sobremi
          .slider6.bgImg(style='background-image: url('+`${baseUrl + imgUrl}`+');')
        button.prev(onclick='plusDivs(-1, 5)') &#x276E;
        button.next(onclick='plusDivs(1, 5)') &#x276F;

block foot

block append scripts
  script(src="/js/slider.js")
  //- script(type="module", src="../js/main.js")
