extends base

block append head
  title #{sitename} - Obra Plástica
  meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

  - var current = "Lab";
  

block content
  h1= `${current}` 

  .grid  
    .grid-12.grid-md-6
      h2 lkj

    .grid-12.grid-md-6.card
      h4= data["sentir"] 

  section
    h2 En exposición

    .gallery
      //- each obra in obras
      //-   p #{obra.title}
        //- .gallery__item
        //-   img#openlightbox.hover-shadow.preview(src=obra.preview alt=obra.title onclick=`openLightbox(); toSlide(${obra.id})`)

  #Lightbox.modal
    //- span.close.pointer(onclick=`closeLightbox()`) &times;

    .modal-content
      //- each obra in obras
        //- .slide
          //- img.image-slide(src=obra.imagen alt=obra.title)
          //- small
          //-   strong= obra.title 
          //-   strong= obra.description 
          //-   strong= obra.ref 

      //- a.previous(onclick=`changeSlide(-1)`) &#x276E;
      //- a.next(onclick=`changeSlide(1)`) &#x276F;

      .dots
        //- each obra in obras
          //- img.modal-preview.hover-shadow(src= obra.preview alt= obra.title onclick=`toSlide( ${obra.id} )`)