extends includes/baseblog

block head
	title #{sitename} - #{articles[8].title}
	meta(name="description" content=articles[8].description)

block pageheader
	header.headerContent
		h1.titlePage
			| #{articles[8].title}
		p.subTitlePage
			| #{articles[8].description}

block blog
	ul
		li
			p Cerramos los ojos, no vemos nada, nuestra visión, que es mental, se expande porque ya no “tropieza” con cosas.
		li
			p Abres los ojos, ves por ejemplo una mesa y cuando cierras los ojos sigues viendo la mesa pero ahora “de otra manera”.
		li
			p Miras la misma mesa con los ojos abiertos y le “ordenas” a tu mente que vea ambas, la que viene del mundo físico y la que proviene del mental, simultáneamente.
		li
			p Cierras los ojos y pones en tu mente otra vez la mesa y junto a ella permites que simultáneamente tu mente “vea“ otras cosas que también son “mesa.” Atención, estás a punto de percibir dos objetos mentales que son dos modos de ser iguales! Por ejemplo “mesa” + “cenar” o “cuatro patas”. Usa de ejemplo lo que te de la gana.
		li
			p Ahora con los ojos cerrados prueba con ver otra cosa, por ejemplo el “agua” y junto a ella pones todas esas otras cosas que también son agua para tu mente. Permite que tu mente sea quien las decida. Por ejemplo: agua + sensibilidad + verano + humedad + fría + ducha + lluvia… lo que sea  que tu mente te esté mostrando que “es análogo o tiene relación con agua”. Sin tener el agua delante estamos amplificando nuestra percepción de lo que “agua” es. Con esto estás usando tu mente abstracta.
		li
			p Ahora miras con los ojos abiertos, por ejemplo un cero de una pantalla o en un papel y, sin cerrarlos, ves simultáneamente todas las otras cosas mentales que tu mente te está diciendo que son “cero”. Mientras ves el cero puedes ver lo que tu mente sabe que también es cero como: La infinitud, Vacío, Ausencia, Pura Potencialidad, Principio femenino, Disolución, Silencio, Trascendencia, Inmanifestado, Inmanente, Inefable, Incognoscible, Intangible, Esencia, Espacio, Metafísica, Huevo cósmico, Hyraniagarba, Ein Sof, La nube, Omniscente, lo sacro, Abismo, Caos Primordial, Círculo, vasija, la nota de un examen, lo que sea…
	p Quizás al principio tu lista no sea tan larga, no importa, con la practica uno va incrementando la cantidad de cosas que ve y que provienen del mismo lugar, percibes los objetos físicos o no físicos al mismo tiempo, todo aquello que resuena con ellos. En resumen percibes cualquier cosa como lo que és; un símbolo que, como tal, condensa millones de significados.
	p Este ejercicio no puedes hacerlo con la mente utilitaria concreta que va bastante más lenta. Con la mente abstracta vas a la velocidad de la luz  y en todas direcciones, descubres que te puedes mover entre nubes de conceptos sin detenerte a racionalizar uno a uno y cuando las nubes de conceptos empiezan a ser realmente grandes llegas al siguiente paso que es realmente mágico.
	p Todas las palabras, los términos, los conceptos indistintamente de si tienen forma física o no se ordenan por sí solas y ves su diseño, sus planos. Es un tipo de orden que está antes del orden mismo. Los conceptos te revelan su procedencia común abriéndose espacio sin forma. Que existan 200 formas de comprender el concepto de “nada” deja de tener tanta importancia como el hecho de ver el símbolo del cero, o cualquiera de sus otras manifestaciones formales, porque tú estás trayendo a tu consciencia lo oculto que subyace detrás.
	p Estos pasos que someramente he tratado de describir son parte de una práctica que nace de una vivencia. Con el tiempo vas entrenando tu percepción para percibir todas aquellas cosas que realmente tu mente es capaz de percibir. Y créeme; son muchas… Incluso cuando no hay cosas es cuando más cosas puedes ver. Llega un momento en el que cierras los ojos y es fantástico ver la “oscuridad” por ejemplo, porque no ves “oscuridad” a secas, sino la realidad de todo lo que tu mente es capaz de captar que también es oscuridad, y eso es mucha luz. 🙂