extends includes/baseblog

block head
  title #{sitename} - #{articles[0].title}
  meta(name="description" content=articles[0].description)

block pageheader
  header.headerContent
    h1.titlePage #{articles[0].title} 
      span.subTitlePage <mark>#{articles[0].description}</mark>

    .bgImg.animCrop(style="background-image: url('./img/bg13.jpg')")

block blog
  figure
    img(src="./img/bg2.jpg", alt="sostener el vacio existencial")

  h2 Todo es número, y todo es energía vibrando en diferentes frecuencias.

  p.
    Los antiguos, los estudiosos de la <abbr title="de raíces griegas, significa estudio de los números. Sus componentes léxicos son: Arithmos (Número) y Logos (palabra, tratado), más el sufijo -ia (cualidad).">Aritmología</abbr>, ya nos decían esto, y encontraron correlaciones entre estos patrones de vibración con los números. Entre ellos, su mayor exponente occidental fue Pitágoras y la Escuela Pitagórica. Postulaba que <b>Todo Cuanto Existe</b> está regulado por estrictas leyes de creación y evolución, y que todo cae bajo la regencia de alguno de los números simples, los números del 0 al 9. Nada de lo que existe cae por fuera de esta Ley, siendo los números, como representantes simbólicos de estos patrones vibratorios, la base sobre la que se asienta la Creación. 
  
  p.
    Esta concepción de la existencia se conoce desde los albores de la humanidad. Diferentes corpus teóricos (no tan diferentes en realidad) nos han hablado, y nos hablan, contínuamente de ésto generando enormes sistemas de referencias o mapas por los que uno puede adentrarse, conocer y RE-conocer, así a poco que escarbemos nos encontramos con la Aritmología, el Pitagorismo, el Hermetismo, la gematría, el árbol de la vida, la Lógica Global Convergente, la geometría sagrada, la ley del desdoblamiento del tiempo, y un largísimo etc.
  
  p.
    Estos números-idea, arjés, dinámicas de fuerza, patrones de vibración, dimensiones, planos, niveles, bandas de frecuencias, etapas... nos vienen a representar un mapa veraz y significativo por el cual nos ubicamos en el territorio que es nuestra propia existencia.

  p.
    Y es muy goloso adentrarse por estos parajes conceptuales porque nos ordenan y nos llenan de sentido y coherencia en lo externo, sin embargo esa puede llegar a ser la gran trampa; creer que estos sistemas de referencias externos te van a dar en algún punto la experiencia de esa Verdad que buscas es falso. Delegar ciegamente en lo que otros cuentan, por muy sabios que sean, forma parte del engaño. El trabajo ha de ser con uno mismo, un descubrimiento interno e íntimo, y luego se compartirá, pero si no estamos atentos, nos perderemos <u>buscando las explicaciones y no la implicación. La clave no es buscar y conocer sino encontrar y re-conocer</u>. 
  
  p.
    La vida es un viaje y, como todo buen viaje, importa más donde estamos que quienes somos, porque los lugares donde estamos ya van actualizando lo que somos. Conocer cómo son las cosas por si sólo no nos va a transformar. Aquí la invitación es formar parte, vivenciar implicados en la existencia, interactuar con y descubrir aquello que tu mente te dice que ya sabe.

  p.
    Existe una vía mística del número. Contar hasta diez es facil, pero comprender en profundidad lo que los números son puede llevarnos un segundo o toda la vida.
 
  p.
    1,2,3,4 son de naturaleza concreta. 5,6,7,8,9,0 son de naturaleza abstracta.

  p.
    Como “lo que es arriba, es como lo que está abajo“, estos números -o vibraciones, o patrones, o dinámicas de fuerzas- se reproducen y aparecen en todas las escalas de la Creación, desde los átomos hasta las galaxias.
  p.
    Adentrarse en este fascinante camino del estudio numerológico implica darse cuenta, tarde o temprano, que nada es por azar y que todo tiene una finalidad inexorable: alcanzar la Unidad y retornar a la Fuente (10=1).

  blockquote.
    Conocer la estructura lógica de la realidad y de nuestro “sueño de percepción”, permite habilitar el MAPA con el que cada cual puede recorrer y sincronizar su propia ruta en este retornar a la percepción original.
