extends includes/baseblog

block head
  title #{sitename} - #{articles[9].title}
  meta(name="description" content=articles[9].description)

block pageheader
  header.headerContent
    h1.titlePage #{articles[9].title} 
      span.subTitlePage <mark>#{articles[9].description}</mark>

    .bgImg.animCrop(style="background-image: url('./img/bg13.jpg')")

block blog
  h2 Leer realidad en base 10

  p.
    Las 27 letras que conforman el abecedario de la lengua española, o las 26 del inglés o las 22 del hebreo constituyen la base de todo lo que puede llegar a decirse.  Su combinatoria origina todo lo que puede llegar a comunicarse. ¿No es fascinante?
  p.
    Millones de libros, historias, conocimientos surgen del entramado de secuencias de unas pocas letras que encapsulan significados en palabras, términos, frases, etc. Así, partiendo básicamente de unos pocos símbolos repitiéndose y reordenándose podemos acceder a leer o escribir acerca de cualquier cosa que nuestra mente sea capaz de elucubrar. Podemos emocionarnos leyendo una carta o una poesía... pero estructuralmente todo lo que decimos, pensamos u oímos son sólo eso; simples secuencias de letras encadenadas y ordenadas de una determinada forma. Ahí podemos darnos cuenta de la importancia del orden estructural. Tan simple como eso... Las letras permiten a los "datos" persistir, cristalizar en estructuras más y más complejas de comprensión y significación y esto es tan así que incluso pueden llegar a saturarnos.

  p.
    Las combinatorias de esas 22 letras han llegado a construir ideologías por las que la gente muere y mata, ríe y llora... Conjuntos de letras encapsuladas en paquetes de información que mueven países y continentes enteros.

  p.
    Con el tiempo el procesamiento de nuestra psique de todas estas formas secuenciales, estas cadenas de significados ha tenido necesariamente que ser más y más rápido, dada su proliferación, la inmediatez con la que consumimos contenidos ha terminado siendo una eficaz manera de desechar todo aquello que nuestra mente no es capaz o no tiene tiempo de procesar. Y hemos caído en un necesario descreimiento de todas aquellas cosas que requieren tiempo para ser comprendidas. Ante determinados bloques de información aceptamos o negamos. ¿Que es la verdad? no hay tiempo para comprobar qué es cierto y que no, sólo para dar crédito o quitarlo. Vendehumos, sectas, New Age, el mundo de las criptomonedas, política, bulos, contrabulos, información, contrainformación... Estamos en modo interferencia (no en modo puente) y automáticamente descreemos aquellos mensajes que entran en contradicción con nuestro sistema de creencias (heredado) que en definitiva son todas aquellas secuencias de letras que ya hemos validado o han validado otros en nuestro lugar y han terminado asentándose en nuestra psique como "verdaderas".
  p.
    Y de esta manera el lenguaje siempre se anda bifurcando vífidamente en una herramienta dual que, según el <i>con-texto</i>, puede ser tan útil como inútil, tan verdadera como falsa. El problema no está tanto en la herramienta, que es neutra, sino en el uso que le podemos llegar a dar.

  p.
    En cualquier caso las letras siempre suman y acumulan más y más cadenas de letras. Las letras superponen mientras que los números reducen, las letras son explicativas, expansivas, divergentes, "se van por las ramas" y los números son implicativos, convergentes, vuelven a la raíz. No estoy comparando letras con números, estoy tratando de señalar que en simultáneo existen ambos niveles de cognición y que se hace necesario que ambos convivan.
  
  p.
    Sólo 10 números (y sus combinatorias) aglutinan todos los significados que podamos armar con las letras.

  p.
    Lo cierto es que, en esta gran Torre de Babel actual donde la polisemia, el uso y abuso de las palabras como mecanismos de control, perversión, engaño y manipulación se nos hace cada vez más difícil saber qué es lo que estamos leyendo, qué información nos nutre y cual nos infoxica.
  
  p.
    En este momento se hace necesario más que nunca una forma de Hermenéutica o manera de interpretar los guiones o las historias que dibujan nuestras <strike>películas</strike> vidas.
  
  p.
    Hoy necesitamos una suerte de "anticipación" en tiempo real, <b>hemos de ser capaces de leer lo que estamos leyendo mientras lo "leemos"</b>, y para ello hemos de descifrar. Ahí es donde el descubrimiento y la profundización en los números-idea nos puede cambiar la vida.
  p.
    Leyendo en base diez no sólo accedemos a la esencia original de lo que se nos dice o decimos sino que podemos leer el tiempo, los ciclos, los eventos que ocurren en nuestras vidas. Podemos leer la naturaleza misma con su propio lenguaje. El tiempo que llevamos viviendo, la fecha en que nacimos, los eventos que nos ocurrieron, la impronta vibracional de las palabras y los nombres... todo absolutamente todo es medible, cuantificable, reducible, cualificable según la base numérica.
  
  blockquote.
    La vida es el proceso de transformación que transitan todas las cosas desde que son algo numérico hasta que son algo que podemos ver.

  figure
    img(src="./img/435681.svg", alt="sostener el vacio existencial") 

  p.
    Vivimos en la era de la información y el Big Data y eso es fantástico pero también en la era de la necesidad de "procesamiento de esa información", vivimos saturados, emborrachados, distraidos, taponados, engañados por la combinatoria de esas 22 letras... 
  p.
    Hoy más que nunca debemos ser capaces de discernir y decodificar todas esas cadenas, alfabetizarnos en la matriz numérica para poder leerlo todo de forma absolutamente neutra y objetiva.

  p.
    No estamos hablando de matemáticas, sino de las cualidades y propiedades simbólicas de los números. Decodificar en números nos permite posicionarnos a nosotros mismos y a lo que nos rodea, en su lugar legítimo, original, genuíno, porque genera una especie de GPS natural de coordenadas mentales que ordenan nuestra percepción de la realidad de un modo más coherente con la verdad. porque... como dicen <b>"Los números no mienten"</b>.
