extends includes/baseblog

block head
  title #{sitename} - #{articles[7].title}
  meta(name="description" content=articles[7].description)

block pageheader
  header.headerContent
    h1.titlePage #{articles[7].title} 
      span.subTitlePage <mark>#{articles[7].description}</mark>

    .bgImg.animCrop(style="background-image: url('./img/bg3.jpg')")

block blog

  figure 
    img(src="./img/mapa_tecnologia.svg", alt="Proceso tecnológico") 

  p.
    Hace tiempo que quería reflexionar a cerca de esto: <strong>todo es lo mismo pero parece diferente.</strong>

  p.
    Un ejemplo rotundo es la analogía entre el mundo del desarrollo web y la vida real. Ambos mundos son muy extensos, así que acotaremos el desarrollo web a las esferas que conozco más: <code>HTML</code>, <code>CSS</code>, <code>Javascript</code>.

  p.
    Un sitio web como éste en el que estás ahora es un sistema de códigos interrelacionados entre sí. Cada elemento vive anidado en un contexto mayor que lo contiene. Eso es el <abbr title="Document Object Model">DOM</abbr>.

  p.
    Todos los elementos del <abbr title="Document Object Model">DOM</abbr> vienen predefinidos por defecto, en el navegador, por una serie de propiedades o cualidades que son las que luego el programador usa / modifica para generar apariencias y comportamientos.

  blockquote.
    Al igual que tú, cada elemento es una división de la existencia con unas cualidades.

  p.
    El <em>programador</em> está tan presente como el programa. La vida y la programación son tan "parecidos" porque están hechos de la misma sustancia.

  section 

    p.
      <strong>CSS</strong> se encargará de dar visibilidad, sensibilidad, tocar, rozar... Aquí es la separación, el olvido... Aquí es cómo es que las cosas lucen, son vistas. Gracias a la separación tiene valor el encuentro. Tiene que ver con el arquetipo 2. Aquí la mediación es hacia dentro, una de las partes absorviendo otras partes.

    pre.language-scss
      code.
        // Define qué se ve cuando algo me toca, qué tamaño tengo,
        // a cuanta distancia estoy del resto de elementos, la interfaz...
        :root {
          --mi-color-de-piel: pink;
        }

        .miPiel {
          background-color: var(--mi-color-de-piel);
        }

    p.
      <strong>Javascript</strong> se encargará de ejecutar acciones, desempeñar funciones, discernir comportamientos, hacer promesas, convocar los eventos... Aquí es la lógica, y tiene que ver con los arquetipos 3, 5, 9.

    pre.language-javascript
      code.
        // Escoge un elemento del DOM
        let quiensoy = document.getelementById("yo")

        // Realiza una acción
        function miAccion() {
          Alert("me han dado una identidad")
        }

        // Muestra por consola
        console.log('quien soy');

    p. 
      <strong>Html/Pug</strong> se encargará de estructurar, marcar, fijar, cristalizar, dar soporte a la realidad para que pueda darse. Y tendrá que ver con los arquetipos 4, 1.

    pre.language-pug
      code.
        head Este es el vacío inmanente. "No está, pero está"
        body Este es el origen de la existencia de esta página.
          header Identidad
          main
            div Lo que hay aquí es lo que soy yo
            div Este eres tú
          footer Esta es la realidad, el plano 1

    p. 
      <strong>Git/Servidor</strong> se encargará de generar nuevas versiones de Universos y multiversos, desplegarlos en red... y tendrá que ver con los arquetipos 6, 8. Si en 5 tenemos la matriz lógica de la realidad es aquí, en el 6 donde se fabrica esa matriz, es una dimensión previa, abstracta, fría, ilimitada repleta de ramificaciones donde no existe el tiempo.

    pre.language-diff
      code.
        @@ -4,6 +4,5 @@
        - let universo = universo.verdad([1, 2, 3]);
        - version = version + 1;
        + const nuevaVersion = universo.verdad([1, 2, 3]) + 1;
        console.log(`universo: ${verdad}`);

  #grafica

  p.
    Buena parte de la programación se construye a partir de renombrar de diferentes maneras las mismas cosas para generar tramas, discursos, automatismos. La recurrencia y el encapsulamiento generan riqueza semántica, más posibilidades, y eso es necesario, pero también generan una validación de las recurrencias como si fueran las cosas originales y eso hace que sea más dificil desentramar de dónde vienen realmente las ideas. 

    Aquí la propuesta sería una reprogramación de nuestra psique más sencilla, una reprogramación que contemple y recuerde su propia estructura original.
