extends includes/baseblog

block head
  title #{sitename} - #{articles[3].title}
  meta(name="description" content=articles[3].description)

block pageheader
  header.headerContent
    h1.titlePage #{articles[3].title} 
      span.subTitlePage <mark>#{articles[3].description}</mark>

    .bgImg.animCrop(style="background-image: url('./img/bg13.jpg')")

block blog
  p.
    Del griego hermeneutikos; Hermeneuo (significa Yo descifro) y Tekné que significa Arte, técnica, tejer… la Hermenéutica nace como <strong>“el arte o la técnica de explicar, descifrar o interpretar“</strong>. Así que para explicar o descifrar yo tengo que hacer una hermenéutica de ese “algo”, averiguarlo, desencriptarlo, desenvolverlo. Tiene que haber un desarrollo de hechos que sucedan.

  hr

  p.
    Si uno se inventa, se imagina o deduce, en mi opinión no esta descubriendo nada sino más bien hace lo contrario; las está volviendo a cubrir.
  p.
    El Arte de Descifrar viene de las vísceras. Lo que realmente el Arte Es, es el <strong>acto de romper una vasija</strong> para que el contenido se desparrame más allá de su continente. El arte es el acto de romper aquello que separa dos mitades de la misma cosa, por eso el proceso artístico desprende un aura, pero un aura que no proviene del arte sino del encuentro entre una parte profana con otra parte que es sagrada. La belleza, lo sublime está en ese reencuentro que se hace presente, porque se representa. Pero el arte en sí es una pulsión, un acto. Existen tantos “Artes” como maneras de actuar y absolutamente todo lo que se hace es una acción creativa en tanto que libera un contenido y produce un reencuentro entre dos cosas que estaban separadas aparentemente.

  blockquote.
    Por eso encontrArte es descifrArte.

  p.
    A medida que uno va averiguando cosas se va dando cuenta de que las cosas quieren ser conocidas. Quizás están ocultas pero, a la vez, no lo están. <em>Hay un juego ahí entre lo velado y lo revelado</em>, como si lo uno no tuviera sentido sin lo otro.
  p.
    Desde mi forma de experimentar la Hermenéutica, descifrar es hacer presente lo ya re-presentado. Cada representación implica un desciframiento. Al interpretar, “traemos algo a nosotros”, el que observa se actualiza a él mismo a partir de lo que observa. Lo que nos lleva a que <strong>el mero hecho de observar ya descifra </strong> de alguna manera lo observado.

  blockquote.
    Una de las cosas que me dí cuenta durante mi crisis fue que si hasta los 40 años no había podido ver la estructura de la realidad no era porque no supiera o no pudiera descifrarla sino porque jamás hasta entonces me había molestado en observarla.
  p.
    En función del ángulo o perspectiva relativa de cada observador, cada observación genera una distinta observación de lo absoluto, es decir, una distinta <em>impronta interpretativa</em>.
  p.
    Originariamente, al descifrar los primeros libros sagrados se produjo esa Torre de Babel que multiplicó los credos exponencialmente, y también inició una carrera expansiva y un culto por la explicación. La hermenéutica que yo intento defender aquí es contraria a esa manipulación, no busca explicar ni expandir más, quiere ser holística pero atendiendo a lo que todas las cosas tienen en común, e integrativa porque reúne lo que está implicado, sólo aquello que emana desde lo genuino.
  p.
    Algo que tengo muy claro es que sólo podemos interpretar unívocamente desde la experiencia directa de la cosa.
