extends includes/baseblog

block head
  title #{sitename} - #{articles[6].title}
  meta(name="description" content=articles[6].description)

block pageheader
  header.headerContent
    h1.titlePage #{articles[6].title} 
      span.subTitlePage <mark>#{articles[6].description}</mark>

    .bgImg.animCrop(style="background-image: url('./img/bg4.jpg')")

block blog
  blockquote.
    ...y cuando el Todo hubo comenzado a ordenarse… Todos los elementos recibieron de Dios sus figuras por acción de las ideas y los números. <br> ─ Platón

  h3 Empezar por los principios, concluir por el fin.
  p.
    En ocasiones ni siquiera necesitas no estar viendo algo para estar viendo algo, es decir, cuando no ves también ves… Aquí vamos a descifrar la Creación! así que vamos a tener que acostumbrarnos a las paradojas porque la realidad no entiende del limitado racionalismo humano y se expresa a través de otra lógica.
  p.
    Sólo si lo experimentas puedes comprender y, de paso, comprobar que no estoy tan loco como aparento, hay mucho que comprender en “nada”, “tienes nada que comprender para comprender la nada” y, aún así, nunca la comprenderás. Pero no hace falta comprender la nada, sólo saber donde está, cómo opera y la falta que hace.
  p.
    Además de usar nuestra mente para crear objetos (mentales o físicos) (4) también se puede usar para meditar o “mediar” (3) entre 4 y la nada (0). Ya hay suficientes objetos separados en el mundo. Meditar es reunir. Por eso el Arte es la Meditación.

  p.
    La nada, es esa inmanencia cuyo máximo ocultamiento genera lo que existe, el arjé, el logos, el principio solar, el Ser, la Unidad (1). Lo que Es, es el máximo ocultamiento de lo que no-es. Para que Uno pueda percibir y revelar lo oculto en lo que Es debe “invertir el sentido de la observación”, es decir, reconocerse siendo observado por lo que le observa mientras lo observa.

  p.
    Parece lioso pero se va descubriendo con la práctica, todo esto es un camino de descubrimiento continuo que no termina.

  figure
    img.img--50vw(src='./img/blog/metodo.svg')

  p.
    Tanto la cifra (0) como el arjé (1), la mímesis / separación que vendría a continuación (2), el símbolo (3) y el ritmo (4) se experimentan y se <em>"averiguan"</em> durante el reverso de su propia observación.

  blockquote.
    “Lo que la realidad es, es su símbolo”. <br> ─ Raimon Panikkar

  p.
    01234 son 5 símbolos que constituyen la estructura dinámica sobre la que se construye la realidad. Por un lado son <b>simultáneos</b>, se dan todos a la vez. Y por otro lado decir que aunque les haya puesto un título a cada uno en realidad condensan miles de significados en función del contexto. Tienen una parte que es constante y estructural (recipiente) y otra que es variable y sensible al contexto (contenido).

  figure 
    img.img--50vw(src='./img/blog/creatividad-universal.svg')

  p.
    Vamos a sobrevolar brevemente sus 5 fundamentos:

  ul
    li 0, Cifra
    li 1, Arjé
    li 2, Mímesis
    li 3, Símbolo
    li 4, Ritmo

  h2 0. Cifra

  p.
    Cifra viene del árabe hispánico <em>sífr</em> que significa “cero” (y eventualmente cualquier dígito) y también viene de <em>safara</em>, o del sánscrito hindú <em>sunya</em> que significan “estar vacío”. En la mística judía la sefirá es definida como vasija, contenedor o recipiente. Es el infinito incognoscible que se encapsula y se preña a sí mismo para dejar espacio en su interior a la finitud.
  p.
    Cero es lo sagrado oculto en lo profano. Todo se “auto cifra” como Nada. La infinitud está en lo finito pero sólo puede caber desde su ocultamiento o auto retirada de sí.
  p.
    La cifra (0) y el arjé (1) son la esencia mínima y máxima de la existencia juntas. Comprender este concepto es comprender la disolución que permite que exista toda coagulación. 

  p.
    Cifra (0) contiene la posibilidad de que algo ocurra en (4). La cifra actualiza el instante presente ya que atraviesa todas las dimensiones o capas de lo real.

  h2 1. Arjé

  p.
    Arjé proviene de la Antigua Grecia y significa principio, razón primordial, originaria, el comienzo del universo o el primer elemento de todas las cosas. Es la matriz o el molde inicial.
  p.
    El arjé es el “plano” o “blueprint” de la Creación que subyace o “está antes” de lo creado. Término “mimetizado” (2) como <em>Adam Kadmón</em> según la mística judía. Todo lo que sucederá en el futuro ya tiene su raíz en el acto inicial de la creación.
  p.
    Del arjé deriva todo, es el ser nuclear de las cosas, su centro. El Arjé es el deseo, la voluntad, irradiación, consciencia, luz, foco, un punto sin dimensión, es la coordenada en el espacio, el logos, prototipo, arquetipo… La Unidad primera emanada de la nada que se mantiene inalterable. La semilla, la gota seminal que contiene ya todo aquello que Es.

  h2 2. Mímesis

  p.
    En Cabalá, Reshimó refiere al aroma de algo original que queda y se mantiene en el tiempo y el espacio. Un recuerdo, referencia, memoria, eco esencial de algo anterior. Un registro de información previo a lo revelado que se percibe como “otra vez ello”.
  p.
    La mímesis según Aristóteles no es copia o reproducción de algo, sino transposición de la cosa misma nuevamente. Es la separación ilusoria entre lo mismo en las cosas. Por la naturaleza líquida del Conocimiento éste no se puede poseer, sólo puede ser “emulado” desde su experiencia. El pensador cree “inventar” y poseer un concepto dentro de un nombre o un término, pero es ilusorio porque el “pensador” tan solo recibe esos pensamientos, no los crea. Por tanto, aunque usemos distintos términos para poder contextualizar temas, son ficticios y su aglomeración gratuita solo crea más ruído y confusión.

  h2 3. Símbolo / Analogía

  p.
    Se lo define como la representación perceptible de una idea. Símbolo viene de symballein, symbolon que en el relato griego es la tessera hospitalis o “tablilla del recuerdo” que correspondía al objeto que, habiendo sido dividido, podía ser reunido, congregado, reencontrado. El símbolo es la relación de lo aparentemente diferente; no es simplemente objetivo ni puramente subjetivo, sino que es constitutivamente La relación. El símbolo es símbolo cuando simboliza, cuando se le reconoce en cuanto tal. Un símbolo que no hable directamente a quien lo percibe deja de ser símbolo. Es lo que amalgama, la mediación. Meditar es percibir lo simbólico. Lo real es símbolo. Todo se vela y revela como símbolo, no sólo a través de él sino en él. Si algo trasciende está siendo simbólico, ya que es el lenguaje de la Creación.

  h2 4. Ritmo

  p.
    Ritmo proviene del griego <em>Rithmos</em> y del sánscrito <em>Rta</em> significando Periodicidad en la sucesión de una serie de cosas.
  p.
    La Creación surge de un deseo por conocerse (01) y se manifiesta y cristaliza en el acto de olvidarse (10). El 0 se ritma colocándose tras el 1, de modo que lo coagula a través de un proceso. Es el movimiento el que estructura al sistema. <strong>10 es el movimiento de 1 + 2 + 3 + 4</strong>. El ritmo es la metaestructura dinámica que sostiene el despliegue de lo que Es, la pauta que lo cierra, la manera en que la finitud puede perpetuarse y sostenerse. La materia es luz que se agota al transcurrir. Luz que se termina y empieza cíclicamente en el mundo, el cuerpo, la vida. El sostén físico de la metafísico.
  p.
    Completud, cúlmen, demostración y prueba de todo.
