extends includes/baseblog

block head
  title #{sitename} - #{articles[4].title}
  meta(name="description" content=articles[4].description)

block pageheader
  header.headerContent
    h1.titlePage #{articles[4].title} 
      span.subTitlePage <mark>#{articles[4].description}</mark>

    .bgImg.animCrop(style="background-image: url('./img/bg13.jpg')")

block blog
  h2 La crisis

  p.
    No vivimos la vida, es la vida la que nos vive a nosotros. Creernos por encima de la vida causa todos nuestros problemas. El yo tiene NECESARIAMENTE que entrar en crisis para que las cosas se pongan en su lugar, se ordenen. Una crisis es lo mejor que te puede pasar, significa que tienes una oportunidad para saber qué eres y donde estás. Una oportunidad para habitar el lugar al que genuínamente perteneces.

  p.
    Es la noche oscura del alma, es una apagón interno total, reset…, y tiene que ser así porque donde realmente estás parte de ese vacío absoluto. Y reinicias, y durante ese reinicio notas que vas recuperando los circuitos frescos te que vienen de serie. Como cuando reinicias el ordenador personal y poco a poco se va reestableciendo la configuración por defecto del sistema.
  p.
    Y así ves cómo recuerdas el orden original de que estás hecho. Porque “algo” te hace a tí y lo hace muy bien.
  p.
    El hecho de recordar va poniendo orden entre lo que sentimos (2), lo que decimos (3), lo que hacemos (4) y lo que pensamos (1) reestableciendo la coherencia entre aquello que es la parte y aquello que es el todo.

  p.
    Recordar, o la Reshimó que dirían los cabalistas medievales, en definitiva es otra forma de descifrar ese hilo conductor entre las cosas. Todo lo que uno ha de hacer es ir tirando de ese hilo que nos condujo.
  p.
    Así que eso es de lo que va esta historia. Crisis, vivencia, autenticidad, orden, claridad, creación, sanación, reinicio, simplicidad…
  p.
    Me perdonen los autores ilustrísimos que no mencionaré, por despiste o por desconocimiento y me perdone el lector si aparecen como “míos” pensamientos que siente “suyos”, porque no son de nadie y al mismo tiempo son de todos los que se atreven a reconocerlos en sus vivencias.
