extends includes/baseblog

block head
	title #{sitename} - #{articles[2].title}
	meta(name="description" content=articles[2].description)

block pageheader
	header.headerContent
		h1.titlePage
			| #{articles[2].title}
		p.subTitlePage
			| #{articles[2].description}

block blog
	p Como hemos venido proponiendo no se descifra hacia delante sino hacia atrás, como un salmón que remonta un río o un libro que se empieza por el final. De manera que el fin de descifrar es encontrar el principio.

	p Mario Sabán, experto conocedor de la cábala, en su libro El Misterio de la Creación cita al crítico literario Harold Bloom haciendo referencia a Moshé Cordovero exponiendo que:

	blockquote
		p Ya para el siglo XIII, los cabalistas hablan de que las sefirot se reflejaban a sí mismas dentro de sí mismas, de tal manera que cada una contenía a todas las demás. Se establecieron sistemas complejos de caminos dentro de las sefirot, y la meditación acerca de estos caminos se convirtió en el ejercicio cabalístico característico, ya fuera de visión, oración o especulación intelectual. Este abrir caminos teosóficos se vuelve, en Cordovero, lo que Ginzberg y otros estudiosos han descrito acertadamente como una teoría de la influencia. (…) Scholem indica que, en Cordovero, las sefirot “de hecho se convierten en elementos estructurales de todas las cosas”, pero hacen esto sólo a través de sus aspectos.

	p Descifrar es el arte de leer las cifras, reconocerlas, siendo lo cifrado aquello que permea y se oculta en el mundo.

	p Esto es muy interesante, porque al descifrar literalmente retiramos el cero que oculta el significado de las cosas, destapamos el velo, revelamos y se nos revela. Aquello que hay que estar quitando continuamente de las cosas para entenderlas es el vacío mismo, es ¡nada!

	p El contenido se percibe al percibir la vasija o burbuja que lo contiene. Nada revela lo que está oculto. Lo cifrado se actualiza a sí mismo, se hace presente a partir su propio vaciamiento. Y, además, en su propio desciframiento se vuelve a cifrar. Llegándose a liberar, en medio de ese eterno proceso, algo que se experimenta como Conocimiento.
	p Ocurre que estamos acostumbrados a percibir los conceptos como cosas estáticas y separadas. Construimos todo nuestro sistema de pensamiento en base a otros sistemas de pensamiento que, a su vez, hicieron lo mismo como ya hemos dicho antes, por eso necesitamos comprender la esencia de las cosas desde la propia experiencia de las cosas.
	p La verdadera hermenéutica funciona como un Tetris; el objetivo no es amontonar piezas sino disolverlas, ¡que desaparezcan! Lo que se propone aquí es descifrar el sentido de la realidad en sí y para ello debemos ir su propio sentido.
	p Quizás sea un tema muy complejo intelectualmente pero vivencialmente no es difícil, sólo tiene que estar uno vivo y formar parte de la realidad para saber algo de ella. Además, siempre tendremos la ayuda de las crisis para darnos cuenta de las cosas.
	p A medida que uno aumenta su sensibilidad cognitiva se va dando cuenta de las relaciones intrínsecas que hacen que en esencia todo sea lo mismo porque proviene de unos mismo arjés. Y eso simplifica bastante la tarea porque, en el origen, no existen tantos arjés…
	p El arjé es un término que he tomado de los griegos. Los arquetipos son “tipos de arje”. Son algo tan original que puede adoptar cualquier forma pero en el origen siempre es lo mismo.
	p Siendo que la naturaleza busca siempre las formas más económicas y simples uno puede llegar a evienciar que efectivamente vivimos dentro de un mar de significados repetidos fractalmente, embebidos unos dentro de otros como muñecas rusas, generando estructuras cada vez más complejas e inabarcables pero que a la vez son simples y obvias en su base arquetípica elemental.
	p A medida que una persona los descifra crece en ella el discernimiento como una comprensión viva. Los conceptos, las nociones, uno las va percibiendo como meras partes de un sistema de significantes vivos en constante movimiento que comparten una misma raíz, esencia o significado.
	p Y qué mejor para representar estos principios que por medio de números. Números que representan, hacen presente, convierten ideas primordiales, abstractas y universales en algo que podemos presenciar.
	p Asimilando los códigos originales podemos leer cualquier cosa sin importar “el tipo de letra” con la que se haya escrito. Por ejemplo cada letra del abecedario corresponde a un número. 0+1+2+3+4 da como resultado 1+0 que es 10, luego en su versión extendida 01234 es traducible a 0123456789. Las letras de tu nombre, tu fecha de nacimiento, todo es leíble y descifrable. En hebreo que es la lengua madre de Occidente cada letra corresponde a un número. Aleph 1, Bet 2, Guimel 3, Dalet 4…
	p A medida que vamos profundizando en 01234, que en su versión desplegada son los 10 números como nos explicaba ya Pitágoras en su Tetractys, tenemos ya la base para descodificar cualquier cosa. Pero antes nuestra percepción tiene que estar entrenada y haber experimentado una serie de vivencias y haber creado una serie de circuitos, de lo contrario nuestra identidad en 4 seguirá fija en interferencias y creencias de segunda mano.