extends includes/baseblog

block head
  title #{sitename} - #{articles[9].title}
  meta(name="description" content=articles[9].description)

block pageheader
  header.headerContent
    h1.titlePage #{articles[9].title} 
      span.subTitlePage <mark>#{articles[9].description}</mark>

    .bgImg.animCrop(style="background-image: url('./img/bg13.jpg')")

block blog
  blockquote.
    La vida es el proceso de transformación que transitan todas las cosas desde que son algo numérico hasta que son algo que podemos ver.
  img(src="./img/blog/creatividad-universal.svg", alt="sostener el vacio existencial") 
