extends includes/baseblog

block head
  title #{sitename} - #{articles[5].title}
  meta(name="description" content=articles[5].description)

block pageheader
  header.headerContent
    h1.titlePage #{articles[5].title} 
      span.subTitlePage <mark>#{articles[5].description}</mark>

    .bgImg.animCrop(style="background-image: url('./img/bg13.jpg')")

block blog
  p. 
    <strong>Hermeneutiké</strong> 
    también es un término que hace referencia al dios Griego Hermes, encargado de llevar mensajes secretos de una dimensión a otra y descifrarlos sólo a determinados destinatarios. Hermes era un psicopompo, un mismo mensajero alado que daba significado al Mercurio de los romanos y, por supuesto, al Toth de los egipcios, dios-símbolo de la mediación y de la interpretación entre distintos mundos o caras de una misma realidad.

  figure
    img(src="./img/bg4.jpg", alt="ejemplo de obra de arte")


  p.
    Podemos estar de acuerdo en que interpretar, actualizar, comprender y simbolizar son palabras que pueden apuntar al mismo hecho y que germinan desde una misma realidad. Hay una fuerza que tiende a esencializar, reunir, simplificar. Esa fuerza es lo que re-presenta el símbolo. El símbolo permite completar lo que podemos ver con aquella parte que no vemos. De hecho Arte, símbolo, analogía… todo eso es 3 o 5 según que mapa usemos, y no es más que la función mercurial de Hermes.

  p.
    El positivismo y el cartesianismo racional empírico han renegado del pensamiento simbólico y han alimentado la fuerza contraria; la confusión y el extravío de lo que somos.

  hr

  p.
    Esta noción de “realidad dividida en dos”; una objetiva y otra subjetiva es inevitable y hasta necesaria para comprender el valor de la Unidad entre ambas, pero debemos entenderla bien y saber que no podemos tener razón sin salir fuera de la razón. La razón no puede tenerse a sí misma desde ella misma, debe ser comparada con algo, lo racional requiere de algo que esté más allá de lo racional. Claro que 2+2=4 pero desde la lógica racional jamás se va a poder salir de 2+2=4 y eso es una limitación, casi una castración intelectual, a la que nos han sometido.

  p.
    Pero volviendo al tema, podemos caer fácilmente en la idolatría del signo por el signo y olvidar la verdadera profundidad a la que los símbolos referencian. Lo simbólico está presente en el núcleo de nuestro ADN cultural precisamente por esa cualidad de unir el final de las cosas con su principio. La vida misma es de naturaleza simbólica y marca el recorrido cíclico de todo cuanto ocurre.
  p.
    Lo simbólico permite recorrer las separaciones entre las cosas y las personas para poder reconocer lo que son desde lo que parecen.
  p.
    Esto revela la noción de sincretismo que es clave; lo que define a Hermes en el relato mitológico es lo mismo que define al Toth de los egipcios. “Lo que hay” puede ser percibido como algo anterior a su forma. Lo que realmente vemos cuando miramos la forma resulta que es lo mismo que encontramos en otra infinidad de formas de igual contenido, aunque las formas sean distintas tienen cualidades que parten de un núcleo común. El símbolo permite reconocer lo idéntico a partir de lo diferente.

  hr

  p.
    No puedo estar más de acuerdo con eso que creo dijo Gadamer o tal vez Heidegger:

  blockquote.
    “Las obras de arte también son formas simbólicas en sí mismas y, como tales, cumplen una función mediadora capaz de abrirle lo real a la conciencia.”

  p.
    La obra de arte no es un mero portador de sentido y no sólo remite a algo, sino que en ella está aquello a lo que remite, como en el símbolo. Lo simbólico no sólo nos lleva al significado, sino que lo hace estar presente, representándolo.

  p.
    Una hermenéutica holística necesariamente tiene que poder leer lo simbólico, tenga la forma que tenga y reconocer aquello que nunca cambia a pesar de las transformaciones de las formas.

  p.
    Lo humano “imita” algo, hay una imitatio en las formas, o como dice el astrólogo Eugenio Carutti “el humano recorta la realidad y construye con ello objetos” pero esta mimesis no entendida como mera imitación de algo previamente conocido, sino como “llevar algo latente a su representación actualizada”.

  blockquote.
    La obra de arte o el símbolo representa algo que ya está siendo en otro nivel...

  figure
    img(src="./img/blog/arte3d.jpeg", alt="ejemplo de obra de arte")

  p.
    En la obra de arte, como producto de una acción simbólica auténtica que es, se produce un reconocimiento mutuo entre dos polos de una misma realidad que se encuentran. La realidad se reúne a sí misma, se completa a sí misma haciéndose presente como símbolo y  proporcionando la experiencia del descubrimiento de una realidad más íntegra.

  p.
    Por otra parte, la experiencia de conocimiento que se libera es a través del arte y el símbolo, como un chasquido, un darse cuenta preñado de infinitas posibilidades que la experiencia sensible ordinaria por sí sola no puede realizar.

  p.
    En la obra del artística estas posibilidades se actualizan; salen a la luz y toman una forma definida completando la forma del encuentro.
