extends includes/base

block append head
  title #{sitename} - Obra Plástica
  meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

  - let current = "Obra";

block content
  header.headerContent
    h1.titlePage Corrientes de formas, 
      mark.subTitlePage obras tridimensionales esculpidas por una luz que es de verdad.
    .bgImg.animCrop(style="background-image: url('./img/bg8.png');")

  .grid.sectionResaltadaOscura  
    .grid__item
      video#video1(poster='./img/arte3d.jpeg')
        source(src='./videos/desdelapoesiadelamateria.mp4' type='video/mp4')
        source(src='./videos/desdelapoesiadelamateria.webm' type='video/webm')
        | Your browser does not support the video tag.

    .card
      p.
        Fluidos en un espacio etérico reaccionan a dinámicas vibracionales e inercias sinérgicas que fraguan en un no-tiempo donde se palpa el pálpito del tiempo detenido y se vive el instante como símbolo.

      button.btn--white(onclick='playPause()') Play/Stop Video presentación

  figure.p-0
    img(src='./img/pieza.jpg' alt='')

  section

    hr
    h3 En exposición

    .gallery
      each obra in obras
        .gallery__item
          img#openlightbox.hover-shadow.preview(src=obra.preview alt=obra.title onclick=`openLightbox(); toSlide(${obra.id})`)
          small= obra.title

  #Lightbox.modal
    span.close.pointer(onclick=`closeLightbox()`) &times;

    .modal-content
      each obra in obras
        .slide
          img.image-slide(src=obra.imagen alt=obra.title)
          small
            strong= obra.title
            | obra.description. REF: obra.ref

      a.previous(onclick=`changeSlide(-1)`) &#x276E;
      a.next(onclick=`changeSlide(1)`) &#x276F;

      .dots
        each obra in obras
          img.modal-preview.hover-shadow(src= obra.preview alt= obra.title onclick=`toSlide( ${obra.id })`)

  section

    hr

    h3 Proceso

    .grid

      .card.grid__item

        video#video2(controls='false' loop='true' autoplay)
          source(src='./videos/proceso.webm' type='video/webm')
          source(src='./videos/proceso.mp4' type='video/mp4')
          | Your browser does not support the video tag.

        p.
          Las piezas parten de un entorno digital donde se generan mallas 3D que son transformadas por los efectos de determinadas físicas de vibración. Luego se lleva a producción, se imprimen en gran formato y se le dan los acabados con resinas, arenas y pigmentos.

      .card.grid__item

        figure
          img(src='./img/bg4.jpg' alt='Imagen del proceso')

        p.
          Diferentes longitudes de onda en el espectro. La luz, el color y la perspectiva, desde donde se observa, generan la conexión con todo lo que integra el instante.

      .card.grid__item

        figure
          img(src='./img/bg7.png' alt='Imagen del proceso')

  footer.blockquote--pie(style="background-image: url('./img/bg3.jpg');")
    blockquote.highlight.
      &ldquo;Las obras de arte también son formas simbólicas en sí mismas y, como tales, cumplen una función mediadora capaz de abrirle lo real a la conciencia.&rdquo; <br> &mdash; Gadamer

block append scripts
  script( src="./scripts/lightbox.js")
  script( src="./scripts/videoplayer.js")
  script(type="module", src="./scripts/anims.js")
